<div class="teacher_contain layout">
    <div class="bread_nav mt30">
        讲师风采 &gt; 曼青
    </div>
    <div class="teacher_detail clearfix">
        <div class="imgpic">
            <img src="../../../assets/images/test/teacher_detail_img.png" alt=""/>
        </div>
        <div class="teacher_info">
            <p class="mt10">
                <span class="name">曼青</span>
                <span class="level">金牌讲师</span>
            </p>
            <p class="mt10">
                介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
            </p>
            <div class="spec mt10">
                <p>
                    <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                </p>
                <p class="mt5">
                    <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                </p>
            </div>
            <p class="mt10 weibo">
                <span class="sina_icon"></span>新浪微博：<a href="http://weibo.com/123abcd" target="_blank">http://weibo.com/123abcd</a>
            </p>
            <div class="like">
                <a href="javascript:;"><span class="love_icon"></span>喜欢</a> (4106)
            </div>
        </div>
    </div>
    <div class="teach_record">
        <h3>讲师授课</h3>
        <ul class="record_list clearfix">
            <li>
                <p class="tit">【6月12日  09:30 - 10:30】客单价提升技巧</p>
                <p class="intro">课程介绍：课程介绍信息，简要介绍简单文字</p>
                <a class="link_btn" href="#">去报名</a>
            </li>
            <li>
                <p class="tit">【6月12日  09:30 - 10:30】客单价提升技巧</p>
                <p class="intro">课程介绍：课程介绍信息，简要介绍简单文字</p>
                <a class="link_btn" href="#">去报名</a>
            </li>
            <li>
                <p class="tit">【6月12日  09:30 - 10:30】客单价提升技巧</p>
                <p class="intro">课程介绍：课程介绍信息，简要介绍简单文字</p>
                <a class="link_btn" href="#">去报名</a>
            </li>
            <li>
                <p class="tit">【6月12日  09:30 - 10:30】客单价提升技巧</p>
                <p class="intro">课程介绍：课程介绍信息，简要介绍简单文字</p>
                <a class="link_btn" href="#">去报名</a>
            </li>
            <li>
                <p class="tit">【6月12日  09:30 - 10:30】客单价提升技巧</p>
                <p class="intro">课程介绍：课程介绍信息，简要介绍简单文字</p>
                <a class="link_btn" href="#">去报名</a>
            </li>
            <li>
                <p class="tit">【6月12日  09:30 - 10:30】客单价提升技巧</p>
                <p class="intro">课程介绍：课程介绍信息，简要介绍简单文字</p>
                <a class="link_btn" href="#">去报名</a>
            </li>
        </ul>
    </div>
    <div class="question_box">
        <div class="tab_nav clearfix">
            <ul>
                <li class="current">向导师提问</li>
                <li class="separated"></li>
                <li>我的提问</li>
            </ul>
        </div>
        <div class="ask_layer clearfix">
            <form action="#">
                <div class="fl">
                    <textarea></textarea>
                </div>
                <button type="button" class="ask_btn">提交</button>
            </form>
        </div>
        <div class="ask_list">
            <ul>
                <li class="clearfix">
                    <div class="user_info">
                        <div class="imgpic">
                            <img width="48" height="48" src="../../../assets/images/test/user_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="ask_info">
                        <p class="name">anked</p>
                        <div class="ask_con">
                            嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提？
                        </div>
                        <p class="time">
                            2013年4月3日 12:25
                        </p>
                        <div class="answer_con clearfix">
                            <div class="user_info">
                                <div class="imgpic">
                                    <img width="40" height="40" src="../../../assets/images/test/teacher_img4.png" alt=""/>
                                </div>
                                <p class="c_text1">曼青</p>
                            </div>
                            <div class="fr">
                                <p>
                                    嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问提问内容提问内容提问内容提问内容提问内容提问内容提问内
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="user_info">
                        <div class="imgpic">
                            <img width="48" height="48" src="../../../assets/images/test/user_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="ask_info">
                        <p class="name">anked</p>
                        <div class="ask_con">
                            嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提？
                        </div>
                        <p class="time">
                            2013年4月3日 12:25
                        </p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="user_info">
                        <div class="imgpic">
                            <img width="48" height="48" src="../../../assets/images/test/user_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="ask_info">
                        <p class="name">anked</p>
                        <div class="ask_con">
                            很不错,老师解答的很清晰
                        </div>
                        <p class="time">
                            2013年4月3日 12:25
                        </p>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="user_info">
                        <div class="imgpic">
                            <img width="48" height="48" src="../../../assets/images/test/user_img.png" alt=""/>
                        </div>
                    </div>
                    <div class="ask_info">
                        <p class="name">anked</p>
                        <div class="ask_con">
                            很不错,老师解答的很清晰
                        </div>
                        <p class="time">
                            2013年4月3日 12:25
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>