<div class="teacher_contain layout">
    <div id="J_brandList" class="brandlist layout">
        <ul class="box clearfix">
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img1.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img2.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img3.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img4.png" alt=""/>
                </a>
            </li>
        </ul>
        <a class="prebtn" href="javascript:;">上一页</a>
        <a class="nextbtn" href="javascript:;">下一页</a>
    </div>
    <div class="mt30 clearfix">
        <div class="area">
            <h3>所属区域</h3>
            <ul class="arealist">
                <li>
                    <a href="#">东北地区</a>
                </li>
                <li>
                    <a href="#">华北地区</a>
                </li>
                <li>
                    <a href="#">华东地区</a>
                </li>
                <li>
                    <a class="current" href="#">华中地区</a>
                </li>
                <li>
                    <a href="#">华南地区</a>
                </li>
                <li>
                    <a href="#">西南地区</a>
                </li>
                <li>
                    <a href="#">西北地区</a>
                </li>
            </ul>
        </div>
        <div class="teacher_box">
            <div class="teacher_grade">
                讲师等级：
                <a class="level" href="javscript:;">金牌讲师</a>
                <a class="level" href="javscript:;">银牌讲师</a>
                <a class="level" href="javscript:;">铜牌讲师</a>
            </div>
            <ul class="teacher_list">
                <li class="clearfix">
                    <div class="imgpic">
                        <a href="#!/teacher/detail">
                            <img src="../../../assets/images/test/teacher_img.png" alt=""/>
                        </a>
                    </div>
                    <div class="teacher_info">
                        <p class="mt10">
                            <span class="name">曼青</span>
                            <span class="level">金牌讲师</span>
                        </p>
                        <p class="mt10">
                            介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
                        </p>
                        <div class="spec mt10">
                            <p>
                                <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                            </p>
                            <p class="mt5">
                                <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                            </p>
                        </div>
                    </div>
                    <a class="view_btn" href="#!/teacher/detail">查看</a>
                    <span class="zan">
                         <span class="love_icon"></span>4106
                    </span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/teacher_img.png" alt=""/>
                        </a>
                    </div>
                    <div class="teacher_info">
                        <p class="mt10">
                            <span class="name">曼青</span>
                            <span class="level">金牌讲师</span>
                        </p>
                        <p class="mt10">
                            介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
                        </p>
                        <div class="spec mt10">
                            <p>
                                <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                            </p>
                            <p class="mt5">
                                <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                            </p>
                        </div>
                    </div>
                    <a class="view_btn" href="#">查看</a>
                    <span class="zan">
                         <span class="love_icon"></span>4106
                    </span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/teacher_img.png" alt=""/>
                        </a>
                    </div>
                    <div class="teacher_info">
                        <p class="mt10">
                            <span class="name">曼青</span>
                            <span class="level">金牌讲师</span>
                        </p>
                        <p class="mt10">
                            介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
                        </p>
                        <div class="spec mt10">
                            <p>
                                <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                            </p>
                            <p class="mt5">
                                <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                            </p>
                        </div>
                    </div>
                    <a class="view_btn" href="#">查看</a>
                    <span class="zan">
                         <span class="love_icon"></span>4106
                    </span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/teacher_img.png" alt=""/>
                        </a>
                    </div>
                    <div class="teacher_info">
                        <p class="mt10">
                            <span class="name">曼青</span>
                            <span class="level">金牌讲师</span>
                        </p>
                        <p class="mt10">
                            介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
                        </p>
                        <div class="spec mt10">
                            <p>
                                <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                            </p>
                            <p class="mt5">
                                <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                            </p>
                        </div>
                    </div>
                    <a class="view_btn" href="#">查看</a>
                    <span class="zan">
                         <span class="love_icon"></span>4106
                    </span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/teacher_img.png" alt=""/>
                        </a>
                    </div>
                    <div class="teacher_info">
                        <p class="mt10">
                            <span class="name">曼青</span>
                            <span class="level">金牌讲师</span>
                        </p>
                        <p class="mt10">
                            介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
                        </p>
                        <div class="spec mt10">
                            <p>
                                <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                            </p>
                            <p class="mt5">
                                <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                            </p>
                        </div>
                    </div>
                    <a class="view_btn" href="#">查看</a>
                    <span class="zan">
                         <span class="love_icon"></span>4106
                    </span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/teacher_img.png" alt=""/>
                        </a>
                    </div>
                    <div class="teacher_info">
                        <p class="mt10">
                            <span class="name">曼青</span>
                            <span class="level">金牌讲师</span>
                        </p>
                        <p class="mt10">
                            介绍信息，讲师介绍信息介绍信息，讲师介绍信息介绍信息，讲师介绍信
                        </p>
                        <div class="spec mt10">
                            <p>
                                <label>擅长：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字字文字
                            </p>
                            <p class="mt5">
                                <label>类目：</label>这里是文字文字文字里是文字文字文字里是文字文字文字里是文字文字文字
                            </p>
                        </div>
                    </div>
                    <a class="view_btn" href="#">查看</a>
                    <span class="zan">
                         <span class="love_icon"></span>4106
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="mt30">
        <a href="#">
            <img src="../../../assets/images/test/brand_img.png" alt=""/>
        </a>
    </div>
</div>