<div class="search_contain layout">
    <div class="search_tab">
        <ul class="clearfix">
            <li class="current">
                视频
            </li>
            <li>
                <span class="separated"></span>
            </li>
            <li>
                培训
            </li>
        </ul>
    </div>
    <div class="search_con clearfix">
        <input type="text" placeholder="请输入关键词" />
        <button type="button">搜索</button>
    </div>
    <div class="search_result">
        <ul>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
            <li>
                <h3 class="tit">【6月6日  09:30 - 10:30】客单价提升技巧</h3>
                <p>课程介绍：课程介绍信息，简要介绍简单文字介绍信息。课程介绍信息，简要介绍简单文字介绍信息。</p>
            </li>
        </ul>
    </div>
</div>