<div class="celebrity_contain layout">
    <div id="J_brandList" class="brandlist">
        <ul class="box clearfix">
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img1.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img2.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img3.png" alt=""/>
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="../../../assets/images/brand/img4.png" alt=""/>
                </a>
            </li>
        </ul>
        <a class="prebtn" href="javascript:;">上一页</a>
        <a class="nextbtn" href="javascript:;">下一页</a>
    </div>
    <div class="col_main clearfix">
        <div class="rank">
            <h3>排行榜</h3>
            <ul class="rank_list">
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
            </ul>
            <h3>课程推荐</h3>
            <ul>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
            </ul>
        </div>
        <div class="video">
            <img src="../../../assets/images/test/video_img2.png" alt=""/>
        </div>
        <div class="right">
            <div class="intro">
                <h3>栏目介绍</h3>
                <div class="imgpic">
                    <img src="../../../assets/images/test/lanmu_img.png" alt=""/>
                </div>
                <p>栏目介绍文字信息，文字介绍信息。栏目介绍文字</p>
            </div>
            <div class="recommend">
                <h3>往期嘉宾</h3>
                <div class="recommend_list">
                    <div class="recommend_contain">
                        <ul class="box">
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/test/jiabin.png" width="78" height="78" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/test/jiabin.png" width="78" height="78" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/test/jiabin.png" width="78" height="78" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/test/jiabin.png" width="78" height="78" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/test/jiabin.png" width="78" height="78" alt=""/>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../../assets/images/test/jiabin.png" width="78" height="78" alt=""/>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a class="prebtn" href="javascript:;">上一页</a>
                    <a class="nextbtn" href="javascript:;">下一页</a>
                </div>
            </div>
        </div>
    </div>
    <div class="program common_module">
        <h3>栏目介绍</h3>
        <div class="tab_nav">
            <a href="javascript:;" class="prebtn">上一页</a>
            <div class="box_contain">
                <ul class="box">
                    <li>第十二季</li>
                    <li>第十一季</li>
                    <li class="current">第十季</li>
                    <li>第九季</li>
                    <li>第八季</li>
                    <li>第七季</li>
                    <li>第六季</li>
                    <li>第五季</li>
                    <li>第四季</li>
                    <li>第三季</li>
                    <li>第二季</li>
                    <li>第一季</li>
                </ul>
            </div>
            <a href="javascript:;" class="nextbtn">下一页</a>
        </div>
        <div class="tab_con">
            <ul class="list clearfix">
                <li>
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                        </a>
                    </div>
                    <p class="tit">
                        课程名称课程名称
                    </p>
                    <p class="intro">
                        课程简介：课程内容课程信息，主要讲课内容。课程内容课程信息
                    </p>
                </li>
                <li>
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                        </a>
                    </div>
                    <p class="tit">
                        课程名称课程名称
                    </p>
                    <p class="intro">
                        课程简介：课程内容课程信息，主要讲课内容。课程内容课程信息
                    </p>
                </li>
                <li>
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                        </a>
                    </div>
                    <p class="tit">
                        课程名称课程名称
                    </p>
                    <p class="intro">
                        课程简介：课程内容课程信息，主要讲课内容。课程内容课程信息
                    </p>
                </li>
                <li>
                    <div class="imgpic">
                        <a href="#">
                            <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                        </a>
                    </div>
                    <p class="tit">
                        课程名称课程名称
                    </p>
                    <p class="intro">
                        课程简介：课程内容课程信息，主要讲课内容。课程内容课程信息
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="topics common_module">
        <h3>精选专题</h3>
        <ul class="list clearfix">
            <li>
                <div class="imgpic">
                    <a href="#">
                        <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                    </a>
                </div>
                <p class="tit">
                    课程名称课程名称
                </p>
            </li>
            <li>
                <div class="imgpic">
                    <a href="#">
                        <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                    </a>
                </div>
                <p class="tit">
                    课程名称课程名称
                </p>
            </li>
            <li>
                <div class="imgpic">
                    <a href="#">
                        <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                    </a>
                </div>
                <p class="tit">
                    课程名称课程名称
                </p>
            </li>
            <li>
                <div class="imgpic">
                    <a href="#">
                        <img src="../../../assets/images/test/celebrity_img.png" alt=""/>
                    </a>
                </div>
                <p class="tit">
                    课程名称课程名称
                </p>
            </li>
        </ul>
    </div>
</div>