<div class="tutorial_contain layout">
    <div class="bread_nav">
        <p>自学教程 &gt; 直通车店铺推广低深度词表铺推深度</p>
    </div>
    <h2>直通车店铺推广低深度词表铺推深度<span class="teacher">讲师：曼青</span></h2>
    <p class="interactArea">
        已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
    </p>
    <div class="main clearfix">
        <div class="video_box">
            <div class="video_area">
                <img src="../../../assets/images/test/video_img.png" alt=""/>
            </div>
            <div class="gg">
                <a href="#">
                    <img src="../../../assets/images/test/brand_img2.png" alt=""/>
                </a>
            </div>
        </div>
        <div class="side_bar">
            <div class="tab_nav">
                <ul class="clearfix">
                    <li class="current">纲要</li>
                    <li class="separated"></li>
                    <li>目录</li>
                </ul>
            </div>
            <div class="tab_con">
                <div class="course_intro">
                    <h3>课程介绍：</h3>
                    <p>
                        课程简要介绍信息，介绍信息。课程简要介绍信息，介绍信息。课程简要介绍信息，介绍信息。课程简要介绍信息，介绍信息。介绍信息。课程简要介绍信息介绍信息。课程简要介绍信息
                    </p>
                </div>
                <div class="course_outline">
                    <h3>课程纲要</h3>
                    <p>
                        1.第一条第一条第一条第一条第一条 <br />
                        2.第一条第一条第一条 <br />
                        3.第一条第一条第一条第一条 <br />
                    </p>
                </div>
                <div class="btns clearfix">
                    <span class="fav_btn">已收藏</span>
                    <a class="sign_btn" href="javascript:;">报名其他课程</a>
                </div>
                <div class="course_about">
                    <h3>相关课程</h3>
                    <ul class="list">
                        <li>
                            <p class="tit">
                                <a href="#">万堂书院网站介绍</a>
                            </p>
                            <p>讲师：三丰</p>
                            <p>浏览：34154</p>
                        </li>
                        <li>
                            <p class="tit">
                                <a href="#">万堂书院网站介绍</a>
                            </p>
                            <p>讲师：三丰</p>
                            <p>浏览：34154</p>
                        </li>
                        <li>
                            <p class="tit">
                                <a href="#">万堂书院网站介绍</a>
                            </p>
                            <p>讲师：三丰</p>
                            <p>浏览：34154</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>