<div class="tutorial_contain layout">
    <div class="bread_nav">
        <p>自学教程 &gt; 直通车店铺推广低深度词表铺推深度</p>
    </div>
    <div class="mt15 clearfix">
        <div class="main_contain">
            <div class="main_con">
                <div class="tool">
                    <span>课程分层：</span>
                    <a href="javascript:;">入门</a>
                    <a href="javascript:;">初级</a>
                    <a href="javascript:;">中级</a>
                    <a href="javascript:;">高级</a>
                </div>
                <div class="course_list">
                    <ul>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                        <li class="course_item">
                            <h3>直通车店铺推广低深度词表铺推深度<span>讲师：曼青</span></h3>
                            <p class="info">课程简介：本视频为您介绍多推广宝贝的好处。现在很多卖家都选择多推广宝贝，本视频为您介绍多推广宝贝的...</p>
                            <div class="clearfix">
                                <div class="taglist">
                                    <ul class="clearfix">
                                        <li>宝贝推广</li>
                                        <li>深度词表铺推</li>
                                        <li>入门</li>
                                    </ul>
                                </div>
                                <div class="operate">
                                    已学习(2456)&nbsp;&nbsp;&nbsp;&nbsp;评论(254)&nbsp;&nbsp;&nbsp;&nbsp;收藏(56)
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side_menu">
            <ul>
                <li class="menu">
                    <a href="#"><i class="open"></i>直通车原理</a>
                    <div class="second_menu">
                        <ul>
                            <li class="hasChildren">
                                <a href="javascript:;"><i class="open"></i>直通车基本原理/操作</a>
                                <div class="third_menu">
                                    <ul>
                                        <li>
                                            <a class="no_child current"  href="#">直通车推广规则<s></s></a>
                                        </li>
                                        <li>
                                            <a class="no_child" href="#">直通车推广规则<s></s></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="normal">
                                <a class="no_child" href="#">直通车推广规则<s></s></a>
                            </li>
                            <li class="hasChildren">
                                <a href="#"><i class="close"></i>直通车推广规则</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="menu">
                    <a href="#"><i class="close"></i>直通车优化技巧</a>
                </li>
                <li class="menu">
                    <a href="#"><i class="close"></i>转化提升技巧</a>
                </li>
                <li class="menu">
                    <a href="#"><i class="close"></i>直通车新产品功能</a>
                </li>
                <li class="menu">
                    <a href="#"><i class="close"></i>店铺经营策略</a>
                </li>
                <li class="menu">
                    <a href="#"><i class="close"></i>其他流量渠道</a>
                </li>
                <li class="menu">
                    <a href="#"><i class="close"></i>诊断工具</a>
                </li>
            </ul>
        </div>
    </div>
</div>