<div class="cart_contain layout">
    <div class="cart_city_info clearfix">
        <div class="map">
            <img src="../../../assets/images/test/city_map.png" alt=""/>
        </div>
        <div class="new_info">
            <h3>最新开课信息</h3>
            <ul class="list">
                <li>
                    <p class="basicinfo">
                        6月18日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【讲师】曼青/柯啸

                    </p>
                    <p>
                        【课程】1.客单价提升技巧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.课程名称课程名称
                    </p>
                </li>
                <li>
                    <p class="basicinfo">
                        6月18日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【讲师】曼青/柯啸

                    </p>
                    <p>
                        【课程】1.客单价提升技巧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.课程名称课程名称
                    </p>
                </li>
                <li>
                    <p class="basicinfo">
                        6月18日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【讲师】曼青/柯啸

                    </p>
                    <p>
                        【课程】1.客单价提升技巧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.课程名称课程名称
                    </p>
                </li>
                <li>
                    <p class="basicinfo">
                        6月18日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【讲师】曼青/柯啸

                    </p>
                    <p>
                        【课程】1.客单价提升技巧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.课程名称课程名称
                    </p>
                </li>
                <li>
                    <p class="basicinfo">
                        6月18日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;北京&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;【讲师】曼青/柯啸

                    </p>
                    <p>
                        【课程】1.客单价提升技巧&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2.课程名称课程名称
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="into_city">
        <h3>走进城市</h3>
        <div class="search_con clearfix">
            <input type="text" placeholder="请输入关键词" />
            <button type="button">搜索</button>
        </div>
    </div>
    <div class="city_module">
        <h3>华东区</h3>
        <ul class="list clearfix">
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="city_module">
        <h3>华南区</h3>
        <ul class="list clearfix">
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="city_module">
        <h3>华北区</h3>
        <ul class="list clearfix">
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/cart_img.png" alt=""/>
                </div>
                <p class="tit">山东济南</p>
                <div class="info">
                    <p>成立时间：2013-8-14</p>
                    <p>学员数：21447</p>
                    <p>星级：★★★</p>
                </div>
            </li>
        </ul>
    </div>
</div>