<div class="course_contain layout">
    <div class="course_category">
        <ul class="clearfix">
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/category_img.png" alt=""/>
                </div>
                <div class="cate_info">
                    <h3>初级课程</h3>
                    <p>
                        介绍信息，简要介绍信息。介绍信息，简要介绍信息
                    </p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/category_img.png" alt=""/>
                </div>
                <div class="cate_info">
                    <h3>中级课程</h3>
                    <p>
                        介绍信息，简要介绍信息。介绍信息，简要介绍信息
                    </p>
                </div>
            </li>
            <li>
                <div class="imgpic">
                    <img src="../../../assets/images/test/category_img.png" alt=""/>
                </div>
                <div class="cate_info">
                    <h3>高级课程</h3>
                    <p>
                        介绍信息，简要介绍信息。介绍信息，简要介绍信息
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="course_tab">
        <ul class="tab_ul">
            <li>全部</li>
            <li class="current">初级课程</li>
            <li>中级课程</li>
            <li>高级课程</li>
        </ul>
        <a class="view_tutorials" href="#">查看自学教程</a>
    </div>
    <table class="course_detail_table">
        <colgroup>
            <col width="118" />
            <col width="126" />
            <col width="126" />
            <col width="126" />
            <col width="126" />
            <col width="126" />
            <col width="126" />
            <col width="126" />
        </colgroup>
        <tr>
            <th></th>
            <th>周一<br />4月2号</th>
            <th>周二<br />4月3号</th>
            <th>周三<br />4月4号</th>
            <th>周四<br />4月5号</th>
            <th>周五<br />4月6号</th>
            <th>周六<br />4月7号</th>
            <th>周日<br />4月8号</th>
        </tr>
        <tr>
            <td>11:00-12:00</td>
            <td class="gray">
                <div class="course_detail">
                    <p class="cate">初</p>
                    <p class="tit">
                        <a href="#">课程标题标题标题标题标题标题</a>
                    </p>
                    <p class="status">
                        已开课
                    </p>
                </div>
            </td>
            <td></td>
            <td class="gray"></td>
            <td></td>
            <td class="gray"></td>
            <td></td>
            <td class="gray"></td>
        </tr>
        <tr>
            <td>13:30-14:30</td>
            <td></td>
            <td class="gray"></td>
            <td>
                <div class="course_detail">
                    <p class="cate">中</p>
                    <p class="tit">
                        <a href="#">课程标题标题标题标题标题标题</a>
                    </p>
                    <p class="status">
                        已报名 | <a class="cancel" href="javascript:;">取消报名&gt;</a>
                    </p>
                </div>
            </td>
            <td class="gray"></td>
            <td></td>
            <td class="gray"></td>
            <td></td>
        </tr>
        <tr>
            <td>14:30-15:30</td>
            <td class="gray"></td>
            <td></td>
            <td class="gray">

            </td>
            <td>
                <div class="course_detail">
                    <p class="cate">高</p>
                    <p class="tit">
                        <a href="#">课程标题标题标题标题标题标题</a>
                    </p>
                    <p class="status">
                        <a class="link" href="javascript:;">报名&gt;</a>
                    </p>
                </div>
            </td>
            <td class="gray"></td>
            <td></td>
            <td class="gray"></td>
        </tr>
        <tr>
            <td>19:30-20:30</td>
            <td></td>
            <td class="gray"></td>
            <td></td>
            <td class="gray"></td>
            <td>
                <div class="course_detail">
                    <p class="cate">高</p>
                    <p class="tit">
                        <a href="#">课程标题标题标题标题标题标题</a>
                    </p>
                    <p class="status">
                        <a class="link" href="javascript:;">课程回放&gt;</a>
                    </p>
                </div>
            </td>
            <td class="gray"></td>
            <td></td>
        </tr>
    </table>
    <div class="intro_pop">
         <p>
             课程简介：文字文字文字文字文字文字文字文字文字文字文字文字文字文字
         </p>
         <span class="arrow"></span>
    </div>
    <div class="success_pop">
        <p>
            已报名成功，请到“我的万堂”账户中查看审核状态。
        </p>
        <a class="close_btn" href="javascript:;">×</a>
    </div>
</div>