<div class="footer noborder">
    <div class="corp">
        <a href="#" class="split" target="_blank">
            关于淘宝
        </a>
        <a href="#" class="split" target="_blank">
            营销中心
        </a>
        <a href="#" class="split" target="_blank">
            帮助中心
        </a>
        <a href="#" class="split" target="_blank">
            联系我们
        </a>
        <a href="#" class="last-link" target="_blank">
            法律声明
        </a>
    </div>
    <div class="copyright">
        Copyright &copy; 2003-2013 Taobao.com 版权所有
    </div>
</div>