<div class="common-header">
    <a class="logo ml15" href="#!/home">
    	<i class="iconfont">&#61444;</i>
        淘宝直通车
    </a>
    <div class="header-right fr mr15 pr10">
    	<span>小路，<a href="javascript:void(0);">退出</a></span>
    	<a class="ml15" href="javascript:void(0);"><i class="iconfont">&#349;</i>({{mesNumber}})</a>
    	<a class="ml15" href="javascript:void(0);"><i class="iconfont">&#226;</i></a>
    	<a class="ml15" href="javascript:void(0);"><i class="iconfont">&#228;</i></a>
    	<a class="ml15" href="javascript:void(0);"><i class="iconfont">&#357;</i></a>
    </div>
</div>