<div class="header">
    <div class="top_menu">
        <div class="layout">
            <div class="login_info">
                欢迎来到万堂书院！
                <span class="unlogin">
                    <a href="#">登录</a><a class="noborder" href="#">免费注册</a>
                </span>
            </div>
            <form action="#!/search">
                <div class="searchbox">
                    <input type="text"  />
                    <button type="sumbit">查询</button>
                </div>
            </form>
        </div>
    </div>
    <div class="nav_contain">
        <div class="layout clearfix">
            <div class="logo">
                <img src="../../assets/images/logo.png" alt=""/>
            </div>
            <div class="nav">
                <ul>
                    <li>
                        <a class="current" href="#!/home">首页</a>
                    </li>
                    <li>
                        <a href="#!/lecturers">讲师授课</a>
                    </li>
                    <li>
                        <a href="#!/selftutorial">自学教程</a>
                    </li>
                    <li>
                        <a href="#!/online">万堂在线</a>
                    </li>
                    <li>
                        <a href="#!/celebrity">名人讲堂</a>
                    </li>
                    <li>
                        <a href="#!/teacher">讲师风采</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>