<ul class="nav" id="nav">
    <li><a href="#!/home/" hidefocus="true" atp="{p_type:'home', c_type: 'home'}">首页</a></li>
    <li><a href="#!/adzone/adzone/" hidefocus="true" data-sub="adzone" atp="{p_type:'adzone', c_type: 'adzone_adzone'}">展位超市</a></li>
    <li><a href="#!/reports/account/" hidefocus="true" data-sub="report" atp="{p_type:'report_zongbiao', c_type: 'report_zongbiao'}">报表</a></li>

</ul>
<div class="sub-nav" id="subNav">
    <div class="sub-nav-wrap" id="subNavWrap">

        <i class="icon icon-expand" id="subNavHandle"></i>

        <ul data-sub="adzone" class="sub-nav-ul">
            <li class="li"><a href="#!/adzone/adzone/" atp="{p_type:'adzone', c_type: 'adzone_adzone'}"><i class="iconfont mr8" title="竞价展位">&#311;</i>竞价展位</a></li>
            {{#isHaveCreatePricingCpm}}
            <li class="li"><a href="#!/adzone/price_adzone/" atp="{p_type:'adzone', c_type: 'adzone_p_adzone'}"><i class="iconfont mr8" title="定价展位">&#312;</i>定价展位</a></li>
            {{/isHaveCreatePricingCpm}}
            <li class="li"><a href="#!/adzone/my_fav_adzone/" atp="{p_type:'adzone', c_type: 'adzone_my_fav_adzone'}"><i id="myFav" class="iconfont mr8" title="我的收藏">&#361;</i>我的收藏</a></li>
        </ul>

        <ul data-sub="report" class="sub-nav-ul">
            <li class="li"><a href="#!/reports/account/" atp="{p_type:'report_zongbiao', c_type: 'report_zongbiao'}"><i class="iconfont mr8" title="帐户报表">&#338;</i>帐户报表</a></li>
            <li class="li sub">
                <div class="sub-title"><i class="iconfont mr8">&#311;</i>竞价展位报表</div>
                <ul class="sub-nav-third">
                    <li><a href="#!/reports/white_plan/" atp="{p_type:'w_jihua_lishi', c_type: 'w_jihua_lishi'}">计划报表</a></li>
                    <li><a href="#!/reports/white_plan_realtime/" atp="{p_type:'w_jihua_shiduan', c_type: 'w_jihua_shiduan'}">计划时段报表</a><i class="icon icon-new icon-help"></i></li>
                    <li><a href="#!/reports/white_board/" atp="{p_type:'w_chuangyi_lishi', c_type: 'w_chuangyi_lishi'}">创意报表</a></li>
                    <li><a href="#!/reports/white_board_realtime/" atp="{p_type:'w_chuangyi_shiduan', c_type: 'w_chuangyi_shiduan'}">创意时段报表</a><i class="icon icon-new icon-help"></i></li>
                    <li><a href="#!/reports/white_deliver/" atp="{p_type:'w_dingxiang_lishi', c_type: 'w_dingxiang_lishi'}">定向报表</a></li>
                </ul>
            </li>

            <li class="li sub">
                <div class="sub-title"><i class="iconfont mr8">&#312;</i>定价展位报表</div>
                <ul class="sub-nav-third">
                    <li><a href="#!/reports/price_plan/" atp="{p_type:'dingjia_jihua_lishi', c_type: 'dingjia_jihua_lishi'}">计划报表</a></li>
                    <li><a href="#!/reports/price_board/" atp="{p_type:'dingjia_chuangyi_lishi', c_type: 'dingjia_chuangyi_lishi'}">创意报表</a></li>
                </ul>
            </li>

            <li class="li sub">
                <div class="sub-title"><i class="iconfont mr8">&#311;</i>全网竞价报表</div>
                <ul class="sub-nav-third">
                    <li><a href="#!/reports/plan/" atp="{p_type:'b_jihua_lishi', c_type: 'b_jihua_lishi'}">计划报表</a></li>
                    <li><a href="#!/reports/plan_realtime/" atp="{p_type:'b-jihua-shiduan', c_type: 'b-jihua-shiduan'}">计划时段报表</a><i class="icon icon-new icon-help"></i></li>
                    <li><a href="#!/reports/board/" atp="{p_type:'b-chuangyi-lishi', c_type: 'b-chuangyi-lishi'}">创意报表</a></li>
                    <li><a href="#!/reports/board_realtime/" atp="{p_type:'b_chuangyi_shiduan', c_type: 'b_chuangyi_shiduan'}">创意时段报表</a><i class="icon icon-new icon-help"></i></li>
                    <li><a href="#!/reports/deliver/" atp="{p_type:'b_dingxiang_lishi', c_type: 'b_dingxiang_lishi'}">定向报表</a></li>
                    <li><a href="#!/reports/website/" atp="{p_type:'b_wanzhan_lishi', c_type: 'b_wanzhan_lishi'}">网站报表</a></li>
                </ul>
            </li>
        </ul>

    </div>
</div>

