<div class="common-left fl">
    <div class="common-menu">
        <ul class="topnav" mxclick="toggleSubMenus">
            <li class="topnav-list">
                <a class="text" id="J_{{id}}_home" href="#!/home">首页</a>
            </li>
            <li class="topnav-list">
            	<a id="J_{{id}}_campaigns" href="javascript:void(0);">
                    <i class="iconfont">&#402;</i>
                    推广计划
                </a>
            	<ul class="subnav none">
                    <li class="subnav-list"><a class="text" href="#!/campaigns/standards/index">标准推广</a></li>
                    <li class="subnav-list"><a class="text" href="javascript:void(0);">快捷推广</a></li>
                    <li class="subnav-list"><a class="text" href="javascript:void(0);">明星店铺</a></li>
                    <li class="subnav-list"><a class="text" href="javascript:void(0);">活动专区</a></li>
                </ul>
            </li>
            <li class="topnav-list">
                <a href="#!/report">
                    <i class="iconfont">&#402;</i>
                    报表
                </a>
            </li>
            <li class="topnav-list">
                <a id="J_{{id}}_account" href="javascript:void(0);">
                    <i class="iconfont">&#402;</i>
                    账户
                </a>
                <ul class="subnav none">
                    <li class="subnav-list"><a class="text" href="#!/account/recharge">充值</a></li>
                    <li class="subnav-list"><a class="text" href="#!/account/finance">财务记录</a></li>
                    <li class="subnav-list"><a class="text" href="#!/account/operation">操作记录</a></li>
                    <li class="subnav-list"><a class="text" href="#!/account/proxy">代理账户</a></li>
                    <li class="subnav-list"><a class="text" href="#!/account/remind">提醒设置</a></li>
                </ul>
            </li>
            <li class="topnav-list">
                <a href="#!/tools">
                    <i class="iconfont">&#402;</i>
                    工具
                </a>
            </li>
        </ul>
    </div>
    <vframe mx-view="app/common/views/ads/leftad"></vframe>
</div>




