<div class="profile_contain layout">
    <div class="prompt">
        您有 3 条评论被回复 <a href="#">查看</a>
    </div>
    <div class="profile_box">
        <div class="recommend_course">
            <h3>课程推荐</h3>
            <ul class="list clearfix">
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
            </ul>
        </div>
        <div class="my_reg">
            <h3>我的报名</h3>
            <ul class="list">
                <li>
                    <span class="level">初级</span>
                    <span class="name">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</span>
                    <span class="time">【6月16日 15:30】</span>
                    <span class="status status_on">进行中</span>
                    <a href="#" class="view_btn">进入课程</a>
                </li>
                <li>
                    <span class="level">中级</span>
                    <span class="name">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</span>
                    <span class="time">【6月16日 15:30】</span>
                    <span class="status">未开课</span>
                    <a href="#" class="view_btn">取消报名</a>
                </li>
                <li>
                    <span class="level">高级</span>
                    <span class="name">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</span>
                    <span class="time">【6月16日 15:30】</span>
                    <span class="status">已经结束</span>
                    <a href="#" class="view_btn">视频回放</a>
                </li>
            </ul>
        </div>
        <div class="recommend_course myfav">
            <h3>我的收藏</h3>
            <ul class="list clearfix">
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧价提升技巧价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
                <li>
                    <a href="#">课程名称课程名称课程名称课程名称名称课程名称课程名称</a>
                </li>
                <li>
                    <a href="#">客单价提升技巧客单价提升技巧</a>
                </li>
            </ul>
            <p class="view_all">
                <a href="javascript:;">
                    <span class="view_all_btn"></span>查看全部
                </a>
            </p>
        </div>
        <div class="my_comments">
            <h3>我的评论</h3>
            <ul class="list">
                <li class="clearfix">
                    <div class="imgpic">
                        <img src="../../../assets/images/test/user_img2.png" alt=""/>
                    </div>
                    <div class="comment_info">
                        <p>我 评论了 课程<span class="tit">标题标题iaoti标题</span></p>
                        <p class="comment_con">
                            评论内容评论内容评论内容评论内容评论内容评论内容评论内容
                        </p>
                    </div>
                    <span class="time">2013年4月3日 12:25</span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <img src="../../../assets/images/test/user_img2.png" alt=""/>
                    </div>
                    <div class="comment_info">
                        <p>我 向讲师<span class="tit">曼青</span>提问</p>
                        <p class="comment_con">
                            评论内容评论内容评论内容评论内容评论内????
                        </p>
                    </div>
                    <span class="time">2013年4月3日 12:25</span>
                    <div class="answer_box clearfix">
                        <div class="imgpic">
                            <img src="../../../assets/images/test/user_img2.png" alt=""/>
                        </div>
                        <div class="answer_info">
                            <p>讲师<span class="tit">曼青</span>回复了我的提问</p>
                            <p class="answer_con">
                                回复anked:很不错,老师解答的很清晰
                            </p>
                        </div>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <img src="../../../assets/images/test/user_img2.png" alt=""/>
                    </div>
                    <div class="comment_info">
                        <p>我 评论了 课程<span class="tit">标题标题iaoti标题</span></p>
                        <p class="comment_con">
                            评论内容评论内容评论内容评论内容评论内容评论内容评论内容
                        </p>
                    </div>
                    <span class="time">2013年4月3日 12:25</span>
                </li>
                <li class="clearfix">
                    <div class="imgpic">
                        <img src="../../../assets/images/test/user_img2.png" alt=""/>
                    </div>
                    <div class="comment_info">
                        <p>我 向讲师<span class="tit">曼青</span>提问</p>
                        <p class="comment_con">
                            评论内容评论内容评论内容评论内容评论内????
                        </p>
                    </div>
                    <span class="time">2013年4月3日 12:25</span>
                </li>
            </ul>
            <p class="view_all">
                <a href="javascript:;">
                    <span class="view_all_btn"></span>查看全部
                </a>
            </p>
        </div>
    </div>
</div>