<div class="online_contain layout">
    <div class="brand">
        <img src="../../../assets/images/test/brand_img.png" alt=""/>
    </div>
    <div class="mt30 clearfix">
        <div class="interviews_contain">
            <div class="interviews_intro">
                <h3>访谈介绍</h3>
                <p>
                    访谈介绍信息，访谈介绍介绍信息访谈。介绍信息，访谈介绍介绍。信息访谈介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息。访谈介绍信息，访谈介绍介绍信息访谈。介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息谈介绍介绍信息访谈介绍信息，访谈介绍介绍信息
                </p>
            </div>
            <div class="interviews_con">
                <h3>访谈内容</h3>
                <ul class="tab_nav">
                    <li>
                        <a href="javascript:;">全部</a>
                    </li>
                    <li>
                        <a class="current" href="javascript:;">已回答</a>
                    </li>
                    <li>
                        <a href="javascript:;">我的提问</a>
                    </li>
                </ul>
                <div class="box">
                    <form action="">
                        <div class="ask_layer clearfix">
                            <div class="fl">
                                <textarea></textarea>
                                <span>还可输入字数140字</span>
                            </div>
                            <button class="ask_btn" type="button">提问</button>
                         </div>
                    </form>
                    <ul class="ask_list">
                        <li class="clearfix">
                            <div class="user_info">
                                <div class="imgpic">
                                    <img src="../../../assets/images/test/user_img.png" alt=""/>
                                </div>
                                <p class="c_text1">anked</p>
                            </div>
                            <div class="ask_info">
                                <div class="ask_con">
                                    嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提？
                                </div>
                                <p class="time">
                                    2013年4月3日 12:25
                                    <a href="javscript:;">回复</a>
                                </p>
                                <div class="answer_con clearfix">
                                    <div class="user_info">
                                        <div class="imgpic">
                                            <img src="../../../assets/images/test/teacher_img4.png" alt=""/>
                                        </div>
                                        <p class="c_text1">曼青</p>
                                    </div>
                                    <div class="fr">
                                        <p>
                                            嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问提问内容提问内容提问内容提问内容提问内容提问内容提问内
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user_info">
                                <div class="imgpic">
                                    <img src="../../../assets/images/test/user_img.png" alt=""/>
                                </div>
                                <p class="c_text1">anked</p>
                            </div>
                            <div class="ask_info">
                                <div class="ask_con">
                                    嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提？
                                </div>
                                <p class="time">
                                    2013年4月3日 12:25
                                    <a href="javscript:;">回复</a>
                                </p>
                                <div class="answer_con clearfix">
                                    <div class="user_info">
                                        <div class="imgpic">
                                            <img src="../../../assets/images/test/teacher_img4.png" alt=""/>
                                        </div>
                                        <p class="c_text1">曼青</p>
                                    </div>
                                    <div class="fr">
                                        <p>
                                            嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问提问内容提问内容提问内容提问内容提问内容提问内容提问内
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user_info">
                                <div class="imgpic">
                                    <img src="../../../assets/images/test/user_img.png" alt=""/>
                                </div>
                                <p class="c_text1">anked</p>
                            </div>
                            <div class="ask_info">
                                <div class="ask_con">
                                    嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提？
                                </div>
                                <p class="time">
                                    2013年4月3日 12:25
                                    <a href="javscript:;">回复</a>
                                </p>
                            </div>
                        </li>
                        <li class="clearfix">
                            <div class="user_info">
                                <div class="imgpic">
                                    <img src="../../../assets/images/test/user_img.png" alt=""/>
                                </div>
                                <p class="c_text1">anked</p>
                            </div>
                            <div class="ask_info">
                                <div class="ask_con">
                                    嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提？
                                </div>
                                <p class="time">
                                    2013年4月3日 12:25
                                    <a href="javscript:;">回复</a>
                                </p>
                                <div class="answer_con clearfix">
                                    <div class="user_info">
                                        <div class="imgpic">
                                            <img src="../../../assets/images/test/teacher_img4.png" alt=""/>
                                        </div>
                                        <p class="c_text1">曼青</p>
                                    </div>
                                    <div class="fr">
                                        <p>
                                            嘉宾回答用户提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问内容提问提问内容提问内容提问内容提问内容提问内容提问内容提问内
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="answer_pop">
                        <form action="">
                            <div class="hd">
                                <h3>回答问题</h3>
                                <span class="close_btn">×</span>
                            </div>
                            <div class="bd">
                                <div class="ask_con">
                                    卖家2334：老师我的问题是，提问内容提问内容。我的问题是，提问内容提问内容我的问题是，提问内容提问内容...
                                </div>
                                <div class="answer_box">
                                    <textarea></textarea>
                                </div>
                                <p class="answer_btn">
                                    <button type="button">回答</button>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="side_bar">
            <div class="progress_interview">
                <div class="imgpic">
                    <img src="../../../assets/images/test/interview_img.png" alt=""/>
                </div>
                <p class="status">进行中</p>
                <p class="time">时间：6月6日  15:30-16:30</p>
                <p class="fav_btn">
                    <a href="javascript:;">收藏</a>
                </p>
            </div>
            <div class="guests">
                <h3>本期嘉宾</h3>
                <ul class="guest_list">
                    <li>
                        <div class="imgpic">
                            <a href="#">
                                <img src="../../../assets/images/test/teacher_img3.png" alt=""/>
                            </a>
                        </div>
                        <div class="guest_info">
                            <p class="name">曼青</p>
                            <p class="level">金牌讲师</p>
                        </div>
                        <p class="intro">
                            介绍信息，讲师介绍信息介绍信息讲师介绍信息介绍信息..
                        </p>
                    </li>
                    <li>
                        <div class="imgpic">
                            <a href="#">
                                <img src="../../../assets/images/test/teacher_img3.png" alt=""/>
                            </a>
                        </div>
                        <div class="guest_info">
                            <p class="name">曼青</p>
                            <p class="level">金牌讲师</p>
                        </div>
                        <p class="intro">
                            介绍信息，讲师介绍信息介绍信息讲师介绍信息介绍信息..
                        </p>
                    </li>
                    <li>
                        <div class="imgpic">
                            <a href="#">
                                <img src="../../../assets/images/test/teacher_img3.png" alt=""/>
                            </a>
                        </div>
                        <div class="guest_info">
                            <p class="name">曼青</p>
                            <p class="level">金牌讲师</p>
                        </div>
                        <p class="intro">
                            介绍信息，讲师介绍信息介绍信息讲师介绍信息介绍信息..
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>